.main-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  padding: 43px 60px;
  min-width: min-content;
  min-height: 300px;
  background-color: #f7e296;
  opacity: 1;
}

.header__logo {
  position: absolute;
  top: -55px;
  color: #000000;
  font-family: "Gilroy - Extra Bold";
  font-size: 48px;
  font-weight: 400;
  line-height: 48px;
  text-transform: uppercase;
}

.header__search {
  position: relative;
  width: 355px;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  background-color: #f7e296;
  outline: none;
  border: none;
}

.header__search:focus {
  border-bottom: 2px solid #000000;
  opacity: 1;
  outline: 1px transparent;
}

.search-btn {
  display: none;
  position: absolute;
  top: 28px;
  left: 410px;
  width: 85px;
  height: 49px;
  border: 2px solid #000000;
  background-color: transparent;
  box-sizing: border-box;
  z-index: 10;
}

.header__search:focus + .search-btn {
  display: block;
}

.search-btn:hover {
  color: #fff;
  background-color: #000;
}

.dropdown-content {
  display: none;
  position: absolute;
	top: 140px;
	right: 0;
	left: 0;
  width: 100%;
  height: 160px;
	margin: 0 auto;
	padding: 20px 60px;
  background: #f7e296;
  z-index: 11;
}

.dropdown-menu-content:hover > .dropdown-content {
  display: flex;
}

.dropdown-content:hover {
  display: flex;
}

.header__catalog-opener {
  display: block;
}

.dropdown-menu__item {
  color: #000000;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.15px;
}

.dropdown-menu__list {
  margin-right: 65px;
}

.line-block::before {
  content: "";
  position: absolute;
  top: -70px;
  right: 470px;
  width: 100px;
  height: 7px;
  background-color: #fff;
}

.header__logo:hover, .footer__logo:hover, .dropdown-menu:hover, .main-nav__link:hover, .sublist__items:hover, .dropdown-menu__item:hover, .footer__phone:hover {
  opacity: 0.6;
}